.side-img-icon {
  position: relative;
  border-radius: var(--br-xl-1);
  width: 341.77px;
  height: 683.54px;
  flex-shrink: 0;
  object-fit: cover;
}
.login-or-register {
  align-self: stretch;
  position: relative;
  font-size: 32.17px;
  font-weight: 600;
}
.for-better-experience {
  position: relative;
  font-size: 18.76px;
  font-weight: 300;
  display: inline-block;
  width: 439.61px;
}
.input-field-child {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-xl-1);
  background-color: rgba(217, 217, 217, 0.5);
  width: 439.61px;
  height: 77.74px;
}
.enter-mobile-number {
  position: absolute;
  top: 24.13px;
  left: 22.78px;
}
.input-field,
.otp-btn-child {
  width: 439.61px;
  height: 77.74px;
}
.input-field {
  position: relative;
  flex-shrink: 0;
  color: var(--color-gray-300);
}
.otp-btn-child {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-xl-1);
  background-color: #b6b6b6;
}
.send-otp {
  position: absolute;
  top: 25.47px;
  left: 166.19px;
  font-weight: 500;
}
.otp-btn {
  position: relative;
  width: 439.61px;
  height: 77.74px;
  flex-shrink: 0;
  color: var(--color-white);
}
.privacy-policy {
  text-decoration: underline;
}
.by-continuing-i-container {
  position: relative;
  font-size: 14.74px;
  display: inline-block;
  width: 427.55px;
}
.login-details,
.side-img-parent {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.login-details {
  flex-direction: column;
  padding: 8.041667938232422px 0;
  gap: 28.15px;
}
.side-img-parent {
  position: absolute;
  top: 0;
  left: 0;
  flex-direction: row;
  gap: 97px;
}
.cross-btn-icon {
  position: absolute;
  top: 36.86px;
  left: 914.07px;
  width: 22.78px;
  height: 22.11px;
  cursor: pointer;
}
.login-pop-up {
  position: relative;
  border-radius: var(--br-xl-1);
  background-color: var(--color-white);
  width: 965px;
  height: 683.54px;
  overflow: hidden;
  max-width: 90%;
  max-height: 90%;
  text-align: left;
  font-size: 24.13px;
  color: var(--text-color);
  font-family: var(--font-roboto);
}
