.bg-icon,
.bg-icon1,
.div {
  position: absolute;
  top: 0;
  width: 547px;
  height: 494px;
}
.bg-icon {
  left: 0;
  border-radius: var(--br-8xs);
  object-fit: cover;
}
.bg-icon1,
.div {
  left: 152px;
}
.bg-icon1 {
  top: -2px;
  left: -2px;
  border-radius: var(--br-8xs);
  width: 131px;
  height: 88px;
  object-fit: cover;
}
.div1 {
  top: 0;
}
.bg-icon2,
.div1,
.div2,
.div3,
.div4 {
  position: absolute;
  left: 0;
  width: 127px;
  height: 84px;
}
.bg-icon2 {
  top: 0;
  border-radius: var(--br-8xs);
  object-fit: cover;
}
.div2,
.div3,
.div4 {
  top: 106px;
}
.div3,
.div4 {
  top: 212px;
}
.div4 {
  top: 318px;
}
.image {
  position: relative;
  width: 699px;
  height: 494px;
  flex-shrink: 0;
}
.rs-869-,
.tata-tiago-ev {
  position: absolute;
  top: 0;
  line-height: 38px;
}
.tata-tiago-ev {
  left: 2px;
  display: inline-block;
  width: 386px;
}
.rs-869- {
  left: 0;
}
.price,
.star-icon {
  position: absolute;
  top: 144px;
  left: 4px;
  width: 308px;
  height: 38px;
}
.star-icon {
  top: 2px;
  left: 0;
  width: 84px;
  height: 16px;
}
.reviews {
  position: absolute;
  top: 0;
  left: 92px;
  line-height: 21px;
  font-weight: 500;
}
.rating {
  position: absolute;
  top: 93px;
  left: 2px;
  width: 172px;
  height: 21px;
  font-size: var(--regular-13-size);
  color: var(--gray-600);
}
.it-is-available {
  margin-bottom: 0;
}
.it-is-available-with-the-autom {
  margin: 0;
  padding-left: 21px;
}
.it-is-available-container {
  position: absolute;
  top: 38px;
  left: 0;
  line-height: 36px;
  font-weight: 500;
}
.features {
  position: absolute;
  top: 0;
  left: 5px;
  font-size: var(--regular-16-size);
  line-height: 24px;
  font-family: var(--regular-13);
  color: var(--gray-900);
}
.highlights {
  position: absolute;
  top: 241px;
  left: 0;
  width: 688px;
  height: 146px;
  font-size: var(--font-inherit);
  color: var(--gray-600);
  font-family: var(--font-inherit);
}
.button-name {
  position: relative;
  line-height: 24px;
}
.iconoutlinearrow-right {
  position: relative;
  width: 18px;
  height: 18px;
  flex-shrink: 0;
  overflow: hidden;
}
.icon {
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.button-name-parent,
.buttonprimarywith-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}
.button-name-parent {
  flex-direction: row;
  gap: var(--gap-4xs);
}
.buttonprimarywith-icon {
  position: absolute;
  top: 433px;
  left: 5px;
  border-radius: var(--br-8xs);
  background-color: var(--base-black);
  width: 201px;
  height: 50px;
  flex-direction: column;
  padding: var(--padding-base);
  box-sizing: border-box;
  text-align: right;
  font-size: var(--regular-16-size);
  color: var(--color-white);
}
.button-name1 {
  position: relative;
  line-height: 24px;
  display: none;
}
.buttonprimarywith-icon1,
.icon1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.buttonprimarywith-icon1 {
  position: absolute;
  top: 433px;
  left: 219px;
  border-radius: var(--br-8xs);
  background-color: var(--color);
  border: 1.5px solid var(--gray-300);
  box-sizing: border-box;
  width: 50px;
  height: 50px;
  flex-direction: column;
  padding: var(--padding-base);
  text-align: right;
  font-size: var(--regular-16-size);
  color: var(--color-white);
}
.right-sidebar {
  position: relative;
  width: 688px;
  height: 483px;
  flex-shrink: 0;
  font-size: var(--bold-28-size);
}
.tab-child,
.tab-item {
  position: absolute;
  top: 38.25px;
  left: -0.75px;
  border-top: 1.5px solid var(--gray-200);
  box-sizing: border-box;
  width: 700.5px;
  height: 1.5px;
}
.tab-item {
  left: 138.25px;
  border-top: 1.5px solid var(--gray-900);
  width: 98.5px;
}
.description,
.reviews1 {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 22px;
}
.reviews1 {
  left: 139px;
  color: var(--gray-900);
}
.b {
  position: relative;
  letter-spacing: 1px;
  line-height: 18px;
  text-transform: uppercase;
}
.support,
.tag {
  position: absolute;
}
.tag {
  top: 2px;
  left: 204px;
  border-radius: 24px;
  background-color: var(--gray-400);
  width: 32px;
  height: 20px;
  display: flex;
  flex-direction: row;
  padding: 4px var(--padding-3xs) 3px;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: var(--bold-11px-cap-size);
  color: var(--gray-50);
}
.support {
  top: 0;
  left: 293px;
  line-height: 22px;
}
.tab {
  position: relative;
  width: 699px;
  height: 39px;
  flex-shrink: 0;
  color: var(--gray-500);
}
.load-more-reviews {
  position: absolute;
  top: 0;
  left: 26px;
  letter-spacing: 1px;
  line-height: 18px;
  text-transform: uppercase;
  opacity: 0.5;
}
.iconoutlinerefresh {
  position: absolute;
  top: 2px;
  left: 0;
  width: 14px;
  height: 14px;
  overflow: hidden;
  opacity: 0.5;
}
.btn {
  position: absolute;
  top: 702px;
  left: 66px;
  width: 160px;
  height: 18px;
  font-size: var(--bold-11px-cap-size);
  color: var(--color-1);
}
.review-1-child {
  position: absolute;
  top: 197.25px;
  left: 0.25px;
  border-top: 1.5px solid var(--gray-100);
  box-sizing: border-box;
  width: 700.5px;
  height: 1.5px;
}
.price-high-the {
  position: absolute;
  top: 45px;
  left: 66px;
  font-size: var(--regular-16-size);
  line-height: 26px;
  display: inline-block;
  width: 570px;
}
.kristin-watson,
.march-14-2022 {
  position: absolute;
  top: 119px;
  left: 66px;
  line-height: 22px;
}
.march-14-2022 {
  top: 144px;
  color: var(--gray-500);
}
.review-1-item {
  position: absolute;
  top: 4px;
  left: 0;
  width: 43px;
  height: 43px;
  object-fit: cover;
}
.review-1,
.review-2,
.star-icon1 {
  position: absolute;
  top: 0;
  left: 66px;
  width: 116px;
  height: 22.63px;
}
.review-1,
.review-2 {
  left: 0;
  width: 700px;
  height: 198px;
}
.review-2 {
  top: 228px;
}
.bessie-cooper,
.january-11-2022 {
  position: absolute;
  top: 194px;
  left: 66px;
  line-height: 22px;
}
.january-11-2022 {
  top: 213px;
  color: var(--gray-500);
}
.review-3 {
  position: absolute;
  top: 456px;
  left: 0;
  width: 636px;
  height: 235px;
}
.reviews2 {
  position: relative;
  width: 700px;
  height: 720px;
  flex-shrink: 0;
}
.product-detail {
  position: relative;
  background-color: var(--color);
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: var(--padding-33xl) var(--padding-107xl) var(--padding-33xl)
    var(--padding-264xl);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 24px;
  text-align: left;
  font-size: var(--regular-13-size);
  color: var(--gray-900);
  font-family: var(--regular-13);
}
